/**
Overrides
*/
.ui-resizable {
	position: absolute;
}

#container {
	position: absolute;
	width: 80%;
	border: 1px solid #888;
	height: 90%;
	overflow: hidden;
}

.basictile {
	width: 500px;
	height: 500px;
	border: 1px solid #000;
	position: absolute;
}

.itch {
	position: absolute;
	width: 100px;
	height: 100px;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0px 0px 5px #ccc;
}

#controls {
	position: absolute;
	top: 10px;
	right: 10px;
	border: 1px solid #ccc;
	width: 200px;
	height: 100px;
	background-color: rgba(255,255,255,0.3);
}